.collapsible {
  height: fit-content;
  overflow: auto;
  box-shadow: 0px 2px 4px 3px #ebebeb;
  &-header {
    padding: 10px;
    box-shadow: 0px -1px 4px 3px #d5d4d4;
    display: flex;
    justify-content: space-between;
    color: white;
    .title {
      cursor: pointer;
      width: fit-content;
     
    }
    &-indicator{
      cursor: pointer;
      padding-top: 7px;
    }
  }
  &-body{
    display: flex;
    justify-content: center;
    .MuiCollapse-root {
      width: 100%;
    }
  }
}
